<template>
  <div class="page home">
    <section>
      <b-row align-h="center">
        <b-col cols="10">
          <h2>Currency Ticker</h2>
        </b-col>
      </b-row>
      <b-row v-if="!dates"
             align-h="center">
        <b-col cols="10">
          <h3 class="error">Sorry it looks like the service is down!</h3>
        </b-col>
      </b-row>
      <b-row v-if="dates"
             align-h="center">
        <b-col cols="10">
          <b-form-group label="Date Selection"
                        label-class="font-weight-bold">
            <b-form-select
                class="date-selection"
                v-model="date"
                :options="dates"
                @change="changeDate"/>
          </b-form-group>
          <b-form-group v-if="dateData"
                        label="Currency Filter"
                        label-class="font-weight-bold">
            <b-form-input
                class="typeahead-selection"
                v-model="typeahead"
                type="text"
                placeholder="Start Typing....."
            />
          </b-form-group>
          <b-table
              v-if="dateData"
              ref="supplier_table"
              head-variant="light"
              hover
              :filter="typeahead"
              :items="dateData.rates"
              :fields="fields"
              class="currency-table"
              :tbody-tr-class="rowClass"/>
        </b-col>
      </b-row>
    </section>
  </div>
</template>

<script>
import {mapActions, mapState} from 'vuex';

export default {
  name: "home",
  data() {
    return {
      date: null,
      typeahead: '',
      fields: [
        {
          key: "code",
          sortable: true,
          label: "Currency"
        },
        {
          key: 'previousRate',
          sortable: true,
          label: 'Previous Days Rate'
        },
        {
          key: "currentRate",
          sortable: true,
          label: "Current Days Rate"
        },
        {
          key: 'percentageChange',
          sortable: true,
          label: 'Percentage Change from Yesterday (%)'
        }
      ],
    }
  },
  computed: {
    ...mapState(
        'home',
        [
          'currencyData',
          'dateData',
          'dates'
        ])
  },
  mounted() {
    this.getData()
  },
  methods: {
    ...mapActions({
      getData: 'home/INITIAL',
      getDateSpecificData: 'home/GET_DATE_DATA'
    }),
    changeDate() {
      this.getDateSpecificData(this.date)
    },
    rowClass(item) {
      if (item.percentageChange > 0) return 'table-success'
      if (item.percentageChange < 0) return 'table-danger'
    }
  }
}

</script>

<style scoped>

.error {
  color: red;
}

.currency-table {
  text-align: center !important;
}

</style>
