<template>
  <div class="curr-ticker">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "currency_ticker"
};
</script>

<style lang="scss">
@import "assets/scss/index";
</style>
